<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Boom</title>
  </head>
  <body>
    <div id="app">
      <div>{{result}} {{count}} Times</div>
      <boom-button :is-bomb="true" @bomb="bomb" @click="clickBomb"></boom-button>
      <boom-button :is-bomb="false" @bomb="bomb" @click="clickBomb"></boom-button>
      <boom-button :is-bomb="true" @bomb="bomb" @click="clickBomb"></boom-button><br>

      <boom-button :is-bomb="false" @bomb="bomb" @click="clickBomb"></boom-button>
      <boom-button :is-bomb="true" @bomb="bomb" @click="clickBomb"></boom-button>
      <boom-button :is-bomb="false" @bomb="bomb" @click="clickBomb"></boom-button><br>

      <boom-button :is-bomb="true" @bomb="bomb" @click="clickBomb"></boom-button>
      <boom-button :is-bomb="false" @bomb="bomb" @click="clickBomb"></boom-button>
      <boom-button :is-bomb="true" @bomb="bomb" @click="clickBomb"></boom-button><br>
    </div>

    <script type="text/x-template" id="bomb-button">
        <button @click="open" style="width: 30px; height: 30px;">{{ value }}</button>
    </script>

    <script>
      Vue.component("boom-button", {
        props: {
          isBomb: Boolean,
        },
        data: function () {
          return {
            value: "-",
            clicked: false,
          };
        },
        methods: {
          open: function () {
            if(this.clicked) return;
            this.clicked = true;
            //console.log(this.isBomb);

            this.$emit("click");
            if (!this.isBomb) return;
            this.value = "*";
            this.$emit("bomb");
          },
        },
        template: '#bomb-button',
      });
      var app = new Vue({
        el: "#app",
        data: {
          result: "",
          count: 0,
        },
        methods: {
          bomb: function () {
            console.log("bomb");
            this.result = "You Lose!!!";
          },
          clickBomb: function () {
            this.count++;
          },
        },
      });
    </script>
  </body>
</html>
